<!doctype html>
<html ng-app='ShoppingListCheckOff' lang="en">
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/app.js"></script>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div ng-controller='ToBayController as itemToBay' class="col-md-6">
     <h2>To Bay:</h2>

     <ul>
       <li ng-repeat="items in itemToBay.items">
         {{$index+1}}.   
         <button ng-click="itemToBay.BayItem($index)" class="btn btn-default">
         <span class="glyphicon glyphicon-ok"></span>
         Bought
        </button>
        {{items.quantity}} of {{items.name}}
     </ul>
     <div ng-if="itemToBay.checkBasket.showBay()" class="emptyMessage">
       Everything is bought!
     </div>
   </div>
    <!-- Already Bought List -->
    <div ng-controller='AlreadyBoughtController as itemBought' class="col-md-6">
     <h2>Already Bought:</h2>
     <ul>
       <li ng-repeat="boughtitems in itemBought.boughtitems">
         {{$index+1}}. {{boughtitems.quantity}} of {{boughtitems.name}}
     </ul>
     <div ng-if="itemBought.checkBasket.showBought()" class="emptyMessage">
       Nothing bought yet!
     </div>
    </div>
  </div>
</div>

</body>
</html>
